[user]
  name = Enrique Gonzalez
  email = "enriikke@gmail.com"
  signingkey = "~/.ssh/id_rsa.pub"
[github]
  user = enriikke
[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = nvim --wait
  pager = bat
[push]
  default = simple
[pull]
  rebase = true
[commit]
  gpgsign = true
[gpg]
  format = ssh
[apply]
  whitespace = fix
[help]
  autocorrect = 1
[init]
  defaultBranch = main
[pager]
  branch = false
